/.cache/
/.lsp-session-v1
/.org-id-locations
/auto-save-list/
/config.el
/config.html
/config.pdf
/config.tex
/elpa/
/eshell/
/history
/places
/projectile-bookmarks.eld
/recentf
/tramp
/transient/
/url/
/xkcd/
